body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #990000;
  color: white;
  padding: 20px 0;
  text-align: center;
}

section {
  background: white;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #ccc;
  position: fixed;
  width: 100%;
  bottom: 0;
}

